* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--body-font);
  background-color: rgb(209, 208, 208);
}

:root {
  --primary-color: #333333;
  --secondary-color: #f5f5f5;
  --accent-color: #424939;
  --text-color: #333333;
  --header-font: "Merriweather", serif;
  --body-font: "Lato", sans-serif;
  --accent-font: "Comic Neue", cursive;
}

 header {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    padding: 10px 10.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  
}

.logo {
  box-sizing: border-box;
  width: 65px;
  height: 55px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: left;
}

.navigation a:hover {
  box-sizing: border-box;
  transform: scale(1.2);
}
.navigation * {
   display: inline-block;
  transition: transform 0.2s;
  list-style: none;
  text-decoration: none;
  color: white;
  justify-self:left;
  font-family: var(--header-font);
  font-size: 1.2rem;
}

.search-container {
  display: grid;
  grid-template-columns: 44px 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    height: 36px;
    overflow: hidden;
    column-gap: 2px;
    margin-right: 25px;
}

 .search-input {
    width: 100%;
    height: 36px;
       font-size: 1rem;
       text-align: center;
       border-radius: 0 4px 4px 0;
}  

 .search-input:focus {
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 0 5px hsl(0, 0%, 80%);
    background-color: #dbdfd6;
    font-size: 1rem;
    color: var(--text-color);
 }

 .search-button {
    cursor: pointer;
    width: 44px;
    height: 35px;
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: rgb(183, 182, 182);
  flex-shrink: 0; 
} 

main {
  margin: 0 10.5rem 0 10.5rem;
   padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

h1, h2, h3 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

#hero {
  display: block;
  text-align: center;
}

#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2rem;
  font-family: var(--accent-font);
  color: var(--primary-color);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--primary-color);
  margin: 20px 0;
}


/* Collections styling */

  #collections-container {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    gap: 2.5rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
  }

  .collection-section {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    transition: transform 0.2s ease;
    width: fit-content;
  }

  .collection-section:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .collection-section h3 {
    margin-bottom: 18px;
    margin-top: 8px;
    font-size: 1.2rem;
    text-align: center;
  }

  .book-thumbs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .book-thumbs img {
    height: 100px;
    border-radius: 6px;
    width: 70px;
  }

  .collection-section button {
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .collection-section button:hover {
    background-color: var(--accent-color);
  }

  #load-more {
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: white;
  }

  /* Recommended section styling */
  #recommended-section {
    background-color: #f9f9f9;
    border-radius: 8px;
    border-right: 1px solid #918989;
    margin-right: 50px;
}

#recommended-section h2 {
    margin-bottom: 1rem;
}

#recommended-books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}

.book-card {
    width: 100px;
    text-align: center;
}

.book-card img {
    width: 70%;
    height: 100px;
    border-radius: 4px;
}

.book-card h4 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.book-card p {
    font-size: 0.9rem;
    color: #555;
}

.book-card button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.book-card button:hover {
    background-color: var(--accent-color);
}

/* Community section styling */
#community-section {
  border-left: 1px solid #918989;
  margin-left: 50px;
  background-color: #f9f9f9;
    border-radius: 8px;
  padding: 1rem;
    
}

#community {
  background-color: #f9f9f9;
  border-radius: 8px;
}

#community h2 {
  text-align: center;
  /* margin-bottom: 1rem; */
}

.forums {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.discussion {
  padding: 0.5rem; 
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.discussion p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

.truncated-comment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-comment {
  display: none;
}

.read-more-btn {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.read-more-btn:hover {
  background-color: var(--accent-color);
}

.show-less-btn {
   background-color: var(--accent-color);
   color: white;
   border-radius: 5px;
}

.reply {
  margin-top: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #ddd;
}

.reply p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}


/* User reviews */
#testimonials {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#testimonials h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.user-review {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-review p {
  margin: 0.5rem 0;
  line-height: 1.6;
}

.user-review strong {
  color: #007bff;
}

footer {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

.active {
 text-decoration: underline;
  font-weight: bold;
  color: white;
}
 #menu {
  z-index: 2;
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1200px) {
  header {
    padding: 10px 5rem;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer {
    width: 100%;
  }

  .forums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #recommended-section {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
  }

  #community-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
  }

  #community {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .discussion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
  }

  #testimonials {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #recommended-books {
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }

  /* .book-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  #collections-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;;
  }

  main {
    margin: 0 5rem;
  }

  .search-container {
    width: 200px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  header {grid-template-columns: 1fr auto;}

  #menu {
    position: static;
    order: -1;
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navigation {
    background-color: var(--primary-color);
    flex-direction: column;
    position: absolute;
    display: none;
    top: 75px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    z-index: 10;
    
    height: fit-content;
    margin-bottom: 0px;
  }

  .navigation a {
    margin-top: 5px;
  }

  .navigation a:hover {
    background-color: #58c3cb;
    font-weight: 700;
  }

  .navigation.active {
    
    display: flex;
  }

  #menu::before {
    content: "☰";
  }

  #menu.open::before {
    content: "X";
    color: white;
  }


  body, main, header {
    margin: 0;
    width: 100%;
  }

  .search-container {
    position: relative;
    top: 10px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

}
/* 
 @media (max-width: 600px) {
    .book-thumbs img {
      height: 80px;
    }
  } */
